Redo/Services/SOAP/Schemas/Request.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Redo/Services/SOAP/Schemas/Schema1.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Redo/Services/SOAP/Schemas/Schema1.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
			<xs:element ref="NIF"/>
			<xs:element ref="Morada" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NIF" type="xs:int"/>
	<xs:element name="Morada" type="xs:string"/>
</xs:schema>